body{
	margin:0;
	padding:0;
}
.main{
	width:750px;
	background-image:url("../外貌协会app项目图/0-images/banner.jpg");
	background-size:cover;
	float:left;
	position:relative;
}
div.out,div.in{
	width:654px;
	height:654px;
	margin-top:485px;
	border:2px dashed rgb(245,113,41);
	border-radius:50%;
	position:absolute;
	left:50px;
}
div.in{
	position:absolute;
	left:60px;
}
div.in div.up,div.down{
	width:10px;
	height:10px;
	background-color:red;
	border-radius:50%;
	position:absolute;
	left:300px;
}
div.in div.down{
	bottom:-3px;
	left:330px;
}
.inner{
	width:654px;
	height:654px;
	background-color:rgba(107,107,107,0.4);
	border-radius:50%;
	border:30px solid rgba(255,255,255,0.2);
	background-clip:content-box;
	box-sizing:border-box;
	margin:485px auto 0;
	position:relative;
}
div.inner div.logo{
	width:292px;
	height:96px;
	margin:56px auto;
	background-image:url("../外貌协会app项目图/0-images/logo.png");
	background-size:cover;
}
form{
	width:383px;
	height:506px;
	margin:0 auto;
}
form input{
	width:383px;
	height:70px;
	background:none;
	margin-bottom:22px;
	border:4px solid #fff;
	font-size:28px;
	border-radius:4px;
}
div.inner input::-webkit-input-placeholder{
	color:#fff;
}
form button{

	width:190px;
	height:79px;
	background-color:rgb(245,113,41);
	padding:0;
	border:0;
	color:#fff;
	font-size:28px;
	margin:72px 25% 0; 
	border-radius:5px;

}
form div.left,div.right{
	width:112px;
	height:28px;
	float:left;
	margin-top:158px;
	margin-bottom:57px;
	font-size:25px;
}
form div.right{
	float:right;
}
a{
	text-decoration:none;
	color:#dbdbdb;
}
